<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <main class="container">
          <div class="bg-danger text-light text-center p-5 my-3">
              <div class="alert alert-danger">
                <span class="mt-5 display-3 "><i class="fas fa-check-circle"></i></span>
                <h2 class="my-3 mb">Ups! Hubo un error en la transacción</h2>
              </div>
          
            <hr>
            <h4 class="my-4">Comuníquese con nosotros para resolver el inconveniente.</h4>
            <hr>
            <h6 class="my-3 mb-5">Departamento de Ventas de Fravegino.</h6>
            <a href="/" class="btn btn-sm btn-danger">Volver al Home</a>
          </div>
         

      </main>
      <%- include('./partials/footer.ejs') %>

  </body>

</html>