<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %>
      <main class="container">
          <div class="bg-success text-white text-center p-5 my-3">
              <div class="alert alert-success">
                <span class="mt-5 display-3 "><i class="fas fa-check-circle"></i></span>
                <h2 class="my-3 mb">Compra realizada con éxito</h2>
              </div>
          
            <hr>
            <h4 class="my-4">Gracias por su compra. En breve recibirá un mail con el detalle de su compra y fecha de entrega.</h4>
            <hr>
            <h6 class="my-3 mb-5">Departamento de Ventas de Fravegino.</h6>
            <a href="/" class="btn btn-sm btn-succcess">Volver al Home</a>
          </div>
         

      </main>
      <%- include('./partials/footer.ejs') %>

  </body>

</html>