header nav {
  position: fixed;
  height: 10vh;
  top: 0;
}
.btn-cart{
    border: 0;
    background: none;
    margin-right: 15px;
  }
  .btn-cart i{
    font-size: 40px;
  }
  .btn-cart span{
    font-size: 16px;
    position: absolute;
    top:5px;
    right: 20px;
  }